<h1> STUPID COACHING </h1>

<div class="question">
<p>User- <%= @question %></p>

<div class="question">

<div class="answer">
<p> Stupid Coach -<%= @answer %></p>
</div class="answer">

<p>Go back to <%= link_to 'ask', ask_path %> another question</P>
